body {
    font-family: Arial;
    background: #202020;
    text-align: left;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    border: 4px solid #404040;
    padding: 20px;
}

p {
    color: #FFFFFF;
    line-height: 2;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFE000;
    line-height: 2;
    margin: 0;
}

a:hover {color: #FFA000;}
a:active {color: #FF6000;}
a:visited {color: #80E060;}